/**
 * -----------------------------------------------------------------------------
 * RESET
 * -----------------------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * -----------------------------------------------------------------------------
 * VARIABLES
 * -----------------------------------------------------------------------------
 */
:root {
  --color_noir_foncer: #000;
  --color_noir: #333;
  --color_gris: #555;
  --color_blanc_moins_clair: #ddd;
  --color_blanc: #fff;
}

/**
 * -----------------------------------------------------------------------------
 * TAG GENERAL
 * -----------------------------------------------------------------------------
 */
html, body {
  font-family: "Open Sans", sans-serif;
  color: var(--color_noir);
}

h1, h2, h3 {
  margin-bottom: 20px;
}

a {
  color: var(--color_noir);
  text-decoration: none;
}

p {
  margin-bottom: 40px;
}

/**
 * -----------------------------------------------------------------------------
 * CLASS GENERIQUE
 * -----------------------------------------------------------------------------
 */
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.separator {
  margin: 30px auto;
  height: 4px;
  max-width: 300px;
  background-color: var(--color_noir);
}

.container {
  max-width: 1000px;
  display: block;
  margin: 20px auto;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color_blanc_moins_clair);
}

.chip {
  display: inline-block;
  text-align: center;
  width: 30px;
  border-radius: 100%;
  background-color: var(--color_noir);
  color: var(--color_blanc);

}

.chip-purple {
  background-color: #be418c;
}

.chip-brown {
  background-color: #8c5e24;
}

/**
 * -----------------------------------------------------------------------------
 * BUTTONS
 * -----------------------------------------------------------------------------
 */
.btn {
  display: inline-block;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--color_blanc);
  color: var(--color_noir);;
}

.btn-primary:hover {
  background-color: var(--color_noir);;
  color: var(--color_blanc);
}

.btn-dark {
  background-color: var(--color_noir);;
  color: var(--color_blanc);
}

.btn-dark:hover {
  background-color: var(--color_blanc);
  color: var(--color_noir);;
  border: 1px solid var(--color_noir);;
}

/**
 * -----------------------------------------------------------------------------
 * HEADER
 * -----------------------------------------------------------------------------
 */
.header {
  background: var(--color_noir_foncer);;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.header nav h1 a {
  color: var(--color_blanc);
}

.header nav ul {
  float: right;
  list-style: none;
}

.header nav ul li {
  float: left;
}

.header nav ul li a {
  color: var(--color_blanc);
  padding: 20px;
  display: block;
}

.header nav ul li a:hover, .active {
  background-color: var(--color_gris);;
}

/**
 * -----------------------------------------------------------------------------
 * VALUE PROPOSITION
 * -----------------------------------------------------------------------------
 */
.vp {
  height: 700px;
  background-image: url(../img/cafe1.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  text-align: center;
}

.vp-content {
  max-width: 600px;
  padding-top: 90px;
  color: var(--color_blanc);
  margin: auto;
}

.vp-content h1 {
  font-size: 50px;
}

.vp-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
  margin-bottom: 40px;
}

/**
 * -----------------------------------------------------------------------------
 * FEATURES (container)
 * -----------------------------------------------------------------------------
 */
.features {
  overflow: auto;
  padding: 100px 0;
  text-align: center;
}

/**
 * -----------------------------------------------------------------------------
 * FEATURE
 * -----------------------------------------------------------------------------
 */
.feature {
  float: left;
  width: 50%;
}
.feature:nth-child(1) {
  padding-right: 60px;
}
.feature:nth-child(2) {
  padding-left: 60px;
}

/**
 * -----------------------------------------------------------------------------
 * PERSON
 * -----------------------------------------------------------------------------
 */
.person {
  clear: both;
  height: 400px;
  background: url(../img/cafe4.jpg);
  background-position-x: left;
  background-position-y: bottom;
  background-size: cover;
}

/**
 * -----------------------------------------------------------------------------
 * RESERVATION
 * -----------------------------------------------------------------------------
 */
.reservation {
  padding: 100px 0px;
  text-align: center;
}

/**
 * -----------------------------------------------------------------------------
 * PAGE WHERE.HTML
 * -----------------------------------------------------------------------------
 */
.where {
  padding: 200px 0 0 0;
  min-height: 100vh;
}

.where-img {
  float: left;
  width: 45%;
  border: 1px solid var(--color_blanc_moins_clair);
  border-radius: 5px;
}

.where-text {
  float: right;
  width: 50%;
}

/**
 * -----------------------------------------------------------------------------
 * PAGE CONTACT.HTML
 * -----------------------------------------------------------------------------
 */
.contact {
  margin: 75px 0 25px 0;
  min-height: 100vh;
}

.contact-form-container {
  max-width: 600px;
  margin: auto;
}

.contact-form-container form label {
  display: block;
  font-weight: 700;
}

.contact-form-container form input, textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--color_blanc_moins_clair);
  border-radius: 3px;
}

.contact-form-container form textarea {
  min-height: 80px;
}

::placeholder {
  text-align: center;
  color: var(--color_gris);
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
}

input:focus, textarea:focus {  
  box-shadow: 0px 0px 5px var(--color_gris);
  outline: none;
}

/**
 * -----------------------------------------------------------------------------
 * FOOTER
 * -----------------------------------------------------------------------------
 */
footer {
  background-color: var(--color_noir);;
  color: var(--color_blanc);
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}