
p {
    padding: 0 20px;
}

/**
 * -----------------------------------------------------------------------------
 * HEADER
 * -----------------------------------------------------------------------------
 */

.header nav h1 {
  float: none;
  text-align: center;
}

.header nav h1 a {
  color: white;
}

.header nav ul,
.header nav ul li {
  float: none;
}

.header nav ul li a {
  padding: 10px;
  text-align: center;
}

/**
 * -----------------------------------------------------------------------------
 * VALUE PROPOSITION
 * -----------------------------------------------------------------------------
 */
.vp-content {
  padding-top: 120px;
}

.vp-content h1 {
  font-size: 2rem;
}

/**
 * -----------------------------------------------------------------------------
 * FEATURE
 * -----------------------------------------------------------------------------
 */
.feature {
  float: none;
  width: 100%;
  margin-bottom: 2rem;
}
.feature:nth-child(1) {
  padding: 0 20px;
}
.feature:nth-child(2) {
  padding: 0 20px;
}

/**
 * -----------------------------------------------------------------------------
 * PAGE WHERE.HTML
 * -----------------------------------------------------------------------------
 */
.where {
  padding: 80px 20px 50px 20px;
  overflow: auto;
  min-height: 100vh;
}

.where-img {
  float: none;
  width: 100%;
  border: none;
  margin: auto;
  margin-bottom: 3rem;
}

.where-text {
  float: none;
  width: 100%;
}

/**
 * -----------------------------------------------------------------------------
 * PAGE CONTACT.HTML
 * -----------------------------------------------------------------------------
 */
.contact {
  padding: 50px;
}
